.server_container,
.server_container-fluid,
.server_container-lg,
.server_container-md,
.server_container-sm,
.server_container-xl,
.server_container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .server_container,
  .server_container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .server_container,
  .server_container-md,
  .server_container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .server_container,
  .server_container-lg,
  .server_container-md,
  .server_container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .server_container,
  .server_container-lg,
  .server_container-md,
  .server_container-sm,
  .server_container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .server_container,
  .server_container-lg,
  .server_container-md,
  .server_container-sm,
  .server_container-xl,
  .server_container-xxl {
    max-width: 1320px;
  }
}